h1 {
    text-align: center;
}
section {
    margin: 4rem;
    display: flex;
    justify-content: center;
}

.board {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}

.row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.row div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border: black solid 2px;
    background-color: white;
    gap: 2rem;
}